.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.vscode-test.*
src/**
pnpm-lock.yaml
package-lock.json
.git/**
*.md
!README.md
!dist/**
